<!DOCTYPE html>
<html>
    <head>
        <title> About Us - CU Eats </title>
        <link rel="stylesheet" href="aboutus.css">
    </head>

    <body>
        <header>
            <h1>CU-Eats</h1>

            <div class="right-section">
                <nav>
                    <a href="index.html">Home</a>
                    <a href="aboutus.html">About</a>
                </nav>
            <div class="search-bar">
                <input type="text" placeholder="Search food...">
                <button>Search</button>
            </div>
            </div>

        </header>

        <div class="container">
        <section class="card about">
            <h2>About Us</h2>
            <p>
                CU-Eats is a platform designed to help students easily discover food options on campus. We bring together different resturants and dining services in one place, making it simple to browse, search, and choose meals that fit your preferences.
            </p>
        </section>

        <section class="card goals">
            <h2>Our Goals</h2>
            <p>
                Our goal is to simplify the dining experience for students by providing quick access to reliable information about available food options and discounts. We aim to save time, reduce stress, and make it easier for students to find meals that match their tastes and schedules.
            </p>
        </section>

        <section class="card importance">
            <h2>Why We Matter</h2>
            <p>
                Campus life can be busy and finding the right food shouldn't be difficult and expensive. CU-Eats helps students make informed decisions quickly, improving their overall campus experience. By centralizing food options, we make dining more convenient and accessible for everyone.
            </p>
        </section>
            </div>
    </body>

<footer>
    <p>&copy; 2026 CU-Eats. All rights reserved.</p>
</footer>
</html>