{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domino's Pizza</title>

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/resturantpage.css' %}">
   
</head>
<body>

{% include 'sidebar.html' %}

<header class="main-header">
    <a href="{% url 'homepage' %}" class="logo">
        <img src="{% static 'img/logo.png' %}" alt="CU Eats Logo" class="logo-img">
        <span>CUEats</span>
    </a>

    <nav class="nav-links">
        <a href="{% url 'homepage' %}">Home</a>
        

        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
    </nav>
</header>

<header class="header">
    <div class="logo-container">
        <img src="{% static 'img/images/DMlogo.png' %}" alt="Domino Logo" class="restaurant-logo">
    </div>
    <h1>Domino's Pizza</h1>
    <p class="discount">20% Discount Today!</p>
</header>

<main class="food-section">
    <div class="food-grid">

        <div class="food-item">
            <img src="{% static 'img/images/S_PIZSIX.jpg' %}" alt="Small Pizza">
            <div class="food-info">
                <h3>Small Cheese Pizza</h3>
                <p>Original: $9 | Deal: 2 for $9</p>
            </div>
        </div>

        <div class="food-item">
            <img src="{% static 'img/images/S_CARB.jpg' %}" alt="Chicken Carbonara">
            <div class="food-info">
                <h3>Chicken Carbonara</h3>
                <p>Original: $13 | Discounted: $10</p>
            </div>
        </div>

        <div class="food-item">
            <img src="{% static 'img/images/F_MRBRWNE.jpg' %}" alt="Marbled Cookie Brownie">
            <div class="food-info">
                <h3>Marbled Cookie Brownie</h3>
                <p>Original: $8 | Discounted: $6</p>
            </div>
        </div>

        <div class="food-item">
            <img src="{% static 'img/images/F_SIDGAR.jpg' %}" alt="Free Dip">
            <div class="food-info">
                <h3>Free Dip</h3>
                <p>Included with any order</p>
            </div>
        </div>

    </div>
</main>

<footer class="footer">
    <h3>Limited Time Offer 🍕</h3>
    <p>Scan now and get exclusive deals!</p>
    <img src="{% static 'img/images/ExampleCode.png' %}" alt="QR Code" class="qr-code">
</footer>

</body>
</html>