body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    text-align: left;
    padding: 20px;
    background-color: darkred;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    color: white;
    display: flex;
    justify-content: space-between;

}

h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: 2px;
}

.search-bar {
    margin-top: 10px;
    width: 50%;
    max-width: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    align-items: center;
}

.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 30px;
}

.card {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.image-box {
    width: 40%;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    padding: 15px;
    width: 60%;
}

.info h2 {
    margin: 0 0 10px;
}

button {
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid darkred;

}

button:hover {
    background-color: #aa4a44;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: darkred;
    color: white;
    margin-top: 30px;
}